.signUpButton {
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(1, 1, 68);
    color: whitesmoke;
}

.signInButton {
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(1, 1, 68);
    color: whitesmoke;
}

.emailInput {
    margin: 10px;
    padding: 5px;
}

.passwordInput {
    margin: 10px;
    padding: 5px;
}

.authHeading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bolder;
}

.signOutButon {
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(57, 6, 25);
    color: whitesmoke;
}

.greeting {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bolder;
}

.uploadButton {
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(122, 216, 203);
    color: rgb(10, 1, 27);
    cursor: pointer;
}
